.Advent {
    width: 84vw;
    height: 90vh;
    border: 5px solid #fff;
    border-radius: 1vh;
    margin: 2vh auto;
    padding: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 27vw);
    grid-template-rows: repeat(8, 10vh);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: 0px 0px;
}

.Error {
    text-align: center;
    font-family: 'Lobster Two';
    font-size: 2.0rem;
    grid-column: span 3;
    grid-row: span 8;
    align-self: center;
    justify-self: center;
    background-color: #f44;
    padding: 50px;
    border: 5px dashed #fff;
    border-radius: 5px;
    color: #fff;
}
.Error > p {
    font-size: 1.4rem;
}

@media only screen and (min-width: 600px) {
    .Advent {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(6, 13vh);
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        background-size: auto 100vh;
    }
    .Error {
        grid-column: span 4;
        grid-row: span 6;
    }   
}


@media only screen and (min-width: 1000px) {
    .Advent {
        width: 70vw;
        height: 86vh;
        padding: 2vh 0 4vh 0;
        grid-template-columns: repeat(4, 14vw);
        grid-template-rows: repeat(6, 14vw);
        grid-column-gap: 3vh;
        grid-row-gap: 3vh;
    }
    .Error {
        grid-column: span 5;
        grid-row: span 5;
    }   
}

@media only screen and (min-width: 1200px) {
    .Advent {
        width: 84vw;
        height: 86vh;
        padding: 2vh 0 4vh 0;
        grid-template-columns: repeat(5, 14vw);
        grid-template-rows: repeat(5, 16vh);
        grid-column-gap: 2vh;
        grid-row-gap: 2vh;
    }
    .Error {
        grid-column: span 5;
        grid-row: span 5;
    }   
}
