.Window {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    perspective: 1000px;
    perspective-origin: 0% 50%;
}

.Door {
    padding: 0;
    margin: 0;
    border-left: 2px dashed #ddd;
    border-right: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    color: #fff;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 3.0rem;
    font-family: 'Lobster Two';
    border-radius: 5px;
    transition: transform 0.25s linear;
    transform-origin: 0% 0%;
    transform-style: preserve-3d;
    z-index: 199;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    
    .double {
        grid-column: span 2;
        perspective: 2000px;
    }

}

.front, .back {
    backface-visibility: hidden;
}

.front {
	z-index: 2;
}


.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #eee;
    transform: rotateY(180deg);
    opacity: 1;
    z-index: 1;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 1.0rem;
}

.open {
    transform: rotateY(-100deg);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.575);
}

.opened {
    z-index: 99;
}

.rattle {
    animation-iteration-count: 5;
    animation-duration: 0.3s;
    animation-name: rattling;
}

@keyframes rattling {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-15deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


.animating {
    z-index: 99;
}

.Picture {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
	z-index: 1;
}