.Window {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.Door {
    position: relative;
    background-color: #fff;
    color: #000;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 3.0rem;
    font-family: 'Lobster Two';
    border-radius: 5px;
    border-left: 2px dashed #aaa;
    transition: 0.5s linear;
    transform-origin: 0% 0%;
    transform-style: preserve-3d;
    z-index: 2;
    cursor: pointer;
}

.front, .back {
    backface-visibility: hidden;
}

.front {
	z-index: 2;
}

.double {
    grid-column: span 2;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #eee;
    transform: rotateY(180deg);
    opacity: 1;
    z-index: 1;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 2.0rem;
}

.open {
    transform: rotateY(-160deg);
    z-index: 99;
}

.Picture {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #0f0;
    border-radius: 5px;
	z-index: 1;
}