@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

body {
    margin: 0;
    padding: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-image: url('/img/Ice.png');
    background-size: 250px;
}
