@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

body {
    background-image: url('https://source.unsplash.com/qQUtvVdurHg');
    background-repeat: no-repeat;
    background-size: cover;
}
